/* Roboto Black */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900; /* Specify a high value for Black */
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Black.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Light.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Medium.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Thin.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Black.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
}
#blue{
    background: linear-gradient(90deg, #124683, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
#red{
    background: linear-gradient(90deg, #ff3b3b, #fff9fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
#fb-blue{
    background: linear-gradient(90deg, #5897e9, #fff9fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    color:#5890FF;
}
.user-login {
    background-color:rgb(128, 43, 43);
    padding:10px;
    border-radius:60%;
    color:#fff;
    position: absolute;
    right:8px;

}
.user-login i{
    font-size:25px;
}